.product-card {
  min-width: 300px;
  height: 400px;
  border: 2px solid #e0e0e0;
  box-sizing: border-box;
  border-radius: 5px;
  margin: 20px 10px 0 10px;
}

.product-card:hover {
  border: 2px solid #140041;
  box-sizing: border-box;
  border-radius: 5px;
}

.product-card div {
  width: 250px;
  height: 200px;
  margin: 5px auto;
  text-align: center;
}

h3 {
  margin-top: 60px;
}

.image {
  margin: 0;
  display: flex;
  justify-content: center;
  background-color: #fff;
  width: 100%;
}

.product-card h3 {
  font-family: "inter", sans-serif;
  font-weight: bold;
  font-size: 18px;
  color: #333333;
}

.product-card span {
  font-family: "inter", sans-serif;
  font-size: 12px;
  color: #828282;
}


/* @media screen and (min-width: 900px) {
  .product-card {
    margin-right: 0px;
  }
} */
